/* *{
    margin: 0;
    padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0px auto;
}

main > section{
    margin-top: 130px;
}


/* header styles */


/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700px;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}


/* banner related styles */

.banner-content{
    max-width: 850px;
    margin: 0px auto;
    margin-bottom: 50px;
    text-align: center;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}


/* team and features related styles */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700px;
}

#quick-list{
    font-weight: 500px;
}


/* feature section styles */

.features{
    gap: 140px;
}


#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title{
    font-weight: 600px;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500px;
    margin-left: -92px;
    margin-top: -100px;

}

#experience-year{
    font-size: 4rem;
    font-weight: 700px;
}

.featured-architect img{
    width: 100%;
}





/* some facts related styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-title{
    margin-bottom: 24px;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.font-name{
    font-size: 1.25rem;
    font-weight: 600px;
}

.fact-description{
    max-width: 540px;
    margin-bottom: 100px;
}


/* sponsor related styles */



.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

footer{
    max-width: 1440px;
    margin: 0px auto;
    height: auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    justify-items: center;

}

footer p{
    margin-top: 130px;
    /* max-width: 620px; */
    padding: 30px 400px;
    align-items: center;
    font-size: 1.25rem;
}




/* Responsive media query */

@media screen and (max-width: 576px){
    .navbar, 
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: 1fr;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }

    .fact-title,
    .fact-description{
        margin-left: 20px;
        margin-right: 20px;
    }

    .our-features{
        margin-left: 20px;
        margin-right: 20px;
    }

    #experience-badge{
        width: 350px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 2rem;
    }

    #footer-text{
        padding: 30px;
    }
}

/* medium size device */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .features{
        flex-direction: column;
    }

    .fact-title,
    .fact-description{
        justify-items: center;
        max-width: 542px;
        margin-left: auto;
        margin-right: auto;
    }

    .our-features{
        margin: 50px auto;
    }

    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    #footer-text{
        padding: 30px;
    }
}